<%- include('./partials/cabecalho.ejs') %>

  <main class="container">
    <div class="cadastro">
      <div class="formulario">
        <div class="div-barra-progresso">
          <ul class="barra-de-progresso">
            <li class="li-barra-progresso concluido">
              <span class="span-concluido">SUAS INFORMAÇÕES</span>
            </li>
            <li class="li-barra-progresso ativo">
              <span>INFORMAÇÕES DE PAGAMENTO</span>
            </li>
            <li class="li-barra-progresso">
              <span>ACESSE A PLATAFORMA</span>
            </li>
          </ul>
        </div>
        <div class="formulario">
          <div class="input-formulario">
            <label for="numCartao">NÚMERO DO CARTÃO</label>
            <input type="text" name="numCartao">
          </div>
          <div class="input-formulario">
            <label for="nomeCartao">NOME DO CARTÃO</label>
            <input type="text" name="nomeCartao">
          </div>
          <div class="input-formulario-2">
            <div class="campos">
              <label for="cvv">CVV</label>
              <input type="text" name="cvv">
            </div>
            <div class="campos">
              <label for="data">DATA DE EXPIRAÇÃO</label>
              <input type="text" name="data" placeholder="MM/YYYY">
            </div>
            <div class="campos">
              <label for="parcelas">PARCELAS</label>
              <select name="parcelas" id="parcelas">
                <option value="0">Número de parcelas</option>
                <option value="1">1x</option>
                <option value="2">2x</option>
                <option value="3">3x</option>
                <option value="4">4x</option>
                <option value="5">5x</option>
                <option value="6">6x</option>
                <option value="7">7x</option>
                <option value="8">8x</option>
                <option value="9">9x</option>
                <option value="10">10x</option>
                <option value="11">11x</option>
                <option value="12">12x</option>
              </select>
            </div>
          </div>
          <div class="info">
            <p>Ao preencher o formulário você permite que a salve <a href="#">suas informações.</a>
            </p>
          </div>
          <button class="btn-plano btn-effect-meio pagamento">IR PARA PAGAMENTO</button>
        </div>
      </div>

      <div class="card card-meio">
        <h4 class="titulo-informacoes">Plano escolhido</h4>
        <div class="card-titulo">
          <h1><span class="cifrao">$</span><span id="contador-caracteres2">69</span></h1>
          <p class="periodo">/mo</p>
        </div>
        <h2 class="card-subtitulo">Team</h2>
        <p>Everything you need for a growing business</p>
        <ul class="card-info">
          <li class="li-card-info">
            <img
              src="data:image/svg+xml,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.3035 4.76425C13.5718 4.44865 14.0451 4.41027 14.3607 4.67853C14.6763 4.9468 14.7147 5.42012 14.4464 5.73572L8.07144 13.2357C7.79896 13.5563 7.31616 13.5901 7.00171 13.3105L3.62671 10.3105C3.31713 10.0354 3.28924 9.5613 3.56443 9.25172C3.83962 8.94213 4.31367 8.91424 4.62326 9.18943L7.42515 11.68L13.3035 4.76425Z' fill='%23377dff'/%3e%3c/svg%3e"></img>
            <p>3 users</p>
          </li>
          <li>
            <img
              src="data:image/svg+xml,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.3035 4.76425C13.5718 4.44865 14.0451 4.41027 14.3607 4.67853C14.6763 4.9468 14.7147 5.42012 14.4464 5.73572L8.07144 13.2357C7.79896 13.5563 7.31616 13.5901 7.00171 13.3105L3.62671 10.3105C3.31713 10.0354 3.28924 9.5613 3.56443 9.25172C3.83962 8.94213 4.31367 8.91424 4.62326 9.18943L7.42515 11.68L13.3035 4.76425Z' fill='%23377dff'/%3e%3c/svg%3e"></img>
            <p>Space plan features</p>
          </li>
          <li>
            <img
              src="data:image/svg+xml,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.3035 4.76425C13.5718 4.44865 14.0451 4.41027 14.3607 4.67853C14.6763 4.9468 14.7147 5.42012 14.4464 5.73572L8.07144 13.2357C7.79896 13.5563 7.31616 13.5901 7.00171 13.3105L3.62671 10.3105C3.31713 10.0354 3.28924 9.5613 3.56443 9.25172C3.83962 8.94213 4.31367 8.91424 4.62326 9.18943L7.42515 11.68L13.3035 4.76425Z' fill='%23377dff'/%3e%3c/svg%3e"></img>
            <p>3 apps</p>
          </li>
          <li>
            <img
              src="data:image/svg+xml,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.3035 4.76425C13.5718 4.44865 14.0451 4.41027 14.3607 4.67853C14.6763 4.9468 14.7147 5.42012 14.4464 5.73572L8.07144 13.2357C7.79896 13.5563 7.31616 13.5901 7.00171 13.3105L3.62671 10.3105C3.31713 10.0354 3.28924 9.5613 3.56443 9.25172C3.83962 8.94213 4.31367 8.91424 4.62326 9.18943L7.42515 11.68L13.3035 4.76425Z' fill='%23377dff'/%3e%3c/svg%3e"></img>
            <p>Product support</p>
          </li>
        </ul>
      </div>
    </div>
  </main>
  <%- include('./partials/rodape.ejs') %>

    <script src="/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="/js/carrossel.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/planos.js"></script>