main {
  height: 80vh;
	width: 100vw;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Merriweather Sans', sans-serif;
}
	
	#errorText{
    font-size: 22px;
		margin: 14px 0;
  }
		
	#errorLink{
    font-size: 20px;
		padding: 12px;
		border: 1px solid;
		color: #21325b;
		background-color: transparent;
		text-decoration: none;
		transition: all 0.5s ease-in-out;
  }
  #errorLink:hover #errorLink:active{
    color: #fff;
    background: #21325b;
  } 
			
	#g6219{
    transform-origin: 85px 4px ;
		animation: an1 12s .5s infinite ease-out;
  }