:root{
    --Azul-do-fundo-menu:#21325b;
    --Background:#fff ;
    --Cor-titulos:#1e2022;
    --Cor-subtitulos:#677788;
    --Cor-botão-compra:#377dff;
    --Cor-links-menu:rgba(255,255,255,.55);
    --font-family: Inter,sans-serif;
    --font-size: 1rem;
}