<div class="div-barra-progresso">
  <ul class="barra-de-progresso">
    <li class="li-barra-progresso ativo">
      SUAS INFORMAÇÕES
    </li>
    <li class="li-barra-progresso inativo">
      INFORMAÇÕES DE PAGAMENTO
    </li>
    <li class="li-barra-progresso">
      ACESSE A PLATAFORMA
    </li>
  </ul>
</div>