<header class="menu">
  <div class="logo">
    <img class="bx bxl-c-plus-plus icon"
      src="https://www.netsted.co.za/wp-content/uploads/2017/05/cropped-favicon-transparent-1.png" alt="" width="50px">
    <div class="logo_name">ova</div>
  </div>
  <nav>
    <ul class="lista-menu">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#sobre">Sobre</a>
      </li>
      <li>
        <a href="#planos">Planos</a>
      </li>
      <li>
        <a href="#parceiros">Parceiros</a>
      </li>
      <li>
        <a href="#contato">Contato</a>
      </li>
      <li>
        <a href="/login">Entrar</a>
      </li>
      <li>
        <a class="button-menu" href="/cadastro">Cadastrar</a>
      </li>
    </ul>
  </nav>
</header>