<div class="div-carrossel">

    <h1>Parceiros</h1>
    <p>Estes são alguns dos que apoiam os nossos serviços.</p>

    <div class="carrosel" id="parceiros">
        <div class="seta1">
            <img class="adentro voltar" src="/img/icons/angle-left-solid.svg" alt="">
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div id="imagem" class="card1">
                        <img id="img" class="img1 item" src="/img/icons/Google.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="imagem1" class="card1">
                        <img id="img" class="img1 item" src="/img/icons/gmail.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="imagem2" class="card1">
                        <img id="img" class="img1 item" src="/img/icons/facebook.png">
                    </div>
                </div>
                <div id="imagem3" class="swiper-slide">
                    <div class="card1">
                        <img id="img" class="img1 item" src="/img/icons/instagram.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="imagem4" class="card1">
                        <img id="img" class="img1 item" src="/img/icons/amazon.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="imagem5" class="card1">
                        <img id="img" class="img1 item" src="/img/icons/mercadopago.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="imagem6" class="card1">
                        <img id="img" class="img1 item" src="/img/icons/subway.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="imagem7" class="card1">
                        <img id="img" class="img1 item" src="/img/icons/samsung.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="imagem8" class="card1">
                        <img id="img" class="img1 item" src="/img/icons/youtube.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="imagem9" class="card1">
                        <img id="img" class="img1 item" src="/img/icons/kabum.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="imagem10" class="card1">
                        <img id="img" class="img1 item" src="/img/icons/itau.png">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div id="imagem11" class="card1">
                        <img id="img" class="img1 item" src="/img/icons/acer.png">
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="seta2">

            <div class="seta1">
                <img class="adentro2 next" src="/img/icons/angle-right-solid.svg" alt="">
            </div>
        </div>
    </div>
</div>