<footer class="rodape" id="contato">
  <ul class="lista-imgs-rodape">
    <li><img class="imgs-rodape" src="/img/icons/facebook-50.svg" alt=""></li>
    <li><img class="imgs-rodape" src="/img/icons/instagram-50.svg" alt=""></li>
    <li><img class="imgs-rodape" src="/img/icons/twitter-50.svg" alt=""></li>
  </ul>
  <div class="links-rodape">
    <ul class="lista-links-rodape">
      <li>Sobre</li>
      <li>Contato</li>
      <li>Marketing</li>
    </ul>
    <ul class="lista-links-rodape">
      <li>Termos de uso</li>
      <li>Politica de privacidade</li>
    </ul>
    <ul class="lista-links-rodape-final">
      <li>
        <p> @ 2022 Turma TCC</p>
      </li>
    </ul>
  </div>
</footer>