<section class="sobre" id="sobre">
  <article class="sobre-info">
    <section class="sobre-titulo">
      <h1>O que fazemos ?</h1>
    </section>
    <section class="sobre-paragrafo">
      <p>
        Nós literalmente colocamos seu negocío no mapa, e fazemos da sua pequena e média empresa
        atraente aos olhos dos seus clientes.
      </p>
      <p>
        Nossa função é auxilia-lo no marketing digital, fazendo o seu negocío mais tecnológico
        e visível a novos públicos.
      </p>
      <p>
        Imagine seus produtos disponíveis para qualquer um, a qualquer hora e em qualquer lugar,
        na facilidade de um click ?
      </p>
    </section>
    <a href="/cadastro" class="btn-comece-agora">Começe agora</a>
  </article>
  <div class="sobre-imgs">
    <img class="sobre-imagem-1" src="/img/sobre1.jpg">
    <img class="sobre-imagem-2" src="/img/sobre2.jpg">
    <img class="sobre-imagem-3" src="/img/sobre3.jpg">

  </div>
</section>